* {
 	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #ece6df;
	font-family: filson-soft, sans-serif;
	font-size: 16px;
}

h2 {
	font-size: 1em;
}

p {
	display: inline-block;
}

#loader {
	position: absolute;
	z-index: 4;
	height: 100%;
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	opacity: 1;
	transition: opacity 1s;
}

#loader-logo{
	max-width: 500px;
	width: 60%;
	animation-name: loader;
	animation-duration: 2s;
	animation-delay: 1s;
	animation-timing-function: ease-in-out;
}

@keyframes loader {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
  }

#app{
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
}

#synth{
	display: flex;
	position: absolute;
	background:white;
	width: 1100px;
	min-height: 670px;
	border: solid grey 0.01px;
	border-radius:25px;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: space-between;
	padding: 40px 0 25px;
	opacity: 0;
	transition: opacity 1s;
}

canvas {
	/* display: none; */
	position: relative;
	z-index: 2;
	cursor: pointer;
	border-radius:5px;
	border: solid grey 0.01px;
}
/* 
#sequencer-canvas{
	margin-top: 8.5%;
}

#synth-canvas{
	margin-bottom: 3%;
} */

#controls {
	position: absolute;
	top: 0;
	z-index: 1;
	width: 1093px;
	height: 663px;
}

/* 
	BUTTONS
*/

#play {
	position: absolute;
	top: 15.3%;
	left: 4.5%;
}

#osc-buttons {
	position: absolute;
	top: 42.5%;
	left: 4.5%;
	width: 150px;
	display: flex;
	flex-flow: row wrap;
	gap: 5px;
}


button {
	color: black;
	background-color: rgb(245, 223, 109);
	font-weight: 700;
	font-size: 1em;
	height: 35px;
	width: 60px;
	border: solid grey 0.01px;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color .2s;
}

button:hover {
	background-color: rgb(246, 200, 105);
}

/* 
	SLIDERS
*/

#bpm-slider {
	position: absolute;
	top: 21%;
	right: 3.3%;
}

#attack-slider {
	position: absolute;
	top: 47.8%;
	left: 22.6%;
}

#decay-slider {
	position: absolute;
	top: 47.8%;
	left: 26%;
}

#sustain-slider {
	position: absolute;
	top: 47.8%;
	left: 29.4%;
}

#release-slider {
	position: absolute;
	top: 47.8%;
	left: 32.8%;
}

#filter-slider {
	position: absolute;
	transform: rotate(0deg);
	top: 47.8%;
	right: 45.9%;
}

#reverb-slider {
	position: absolute;
	transform: rotate(0deg);
	top: 47.8%;
	right: 30.1%;
}

#delay-slider {
	position: absolute;
	transform: rotate(0deg);
	top: 47.8%;
	right: 15.6%;
}

#amp-slider {
	position: absolute;
	top: 47.8%;
	right: 3.3%;
}

.slider {
	-webkit-appearance: none;
	appearance: none;
	transform: rotate(-90deg);
	height: 7px;
	width: 72px;
	background: #ece6df; 
	border-style:solid;
	border-width: 1px;
	border-color: grey;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}
  
.slider:hover {
	opacity: 1;
}

/* https://www.w3schools.com/howto/howto_js_rangeslider.asp */
  
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 18px; 
	height: 20px; 
	background: #f5df6d; 
	border: solid grey 1px;
	border-radius: 5px;
	cursor: pointer;
}
  
.slider::-moz-range-thumb {
	width: 25px;
	height: 20px;
	background: #f5df6d;
	border: solid grey 1px;
	cursor: pointer;
}

/* 
	SYNTH LABELS
*/

#synth-labels {
	position: absolute;
	z-index: 2;
	top: 0;
	width: 1093px;
	height: 663px;
	font-size: 1em;
	pointer-events: none;
}

#seq{
	display: inline;
	position: absolute;
	top: 8.5%;
    left: 5.6%;
}

#bpm{
	display: inline;
	position: absolute;
	top: 8.5%;	
    right: 5%;
}

#osc{
	display: inline-block;
	position: absolute;
	top: 37%;
    left: 5.6%;
}

#adsr {
	display: inline-block;
	position: absolute;
	top: 37%;
    left: 25.9%;
}

#filter {
	display: inline-block;
	position: absolute;
	top: 37%;
    right: 46.8%;
}

#reverb {
	display: inline-block;
	position: absolute;
	top: 37%;
    right: 30.7%;	
}

#delay{
	display: inline-block;
	position: absolute;
	top: 37%;
    right: 16.6%;	
}

#amp{
	display: inline-block;
	position: absolute;
	top: 37%;
    right: 4.9%;
}

/* 
	KEY LABELS
*/

#key-labels{
	position: absolute;
	top: 0;
	display: block;
	z-index: 3;
	width: 1093px;
	height: 663px;
	pointer-events: none;
}

#white-keys{
	position: relative;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	gap: 89px;
}

#white-keys > p {
	position: relative;
	top: 85%;
	height: fit-content;
}

#black-keys{
	display: inline-block;
	position: relative;
	top: 70.5%;
	left: 12.8%;
	letter-spacing:5.5em;
}

#black-keys-middle {
	margin-left: 0.5em;
}

#black-keys-end {
	margin-left: 0.5em;
}


/* 
	PORTRAIT
*/

@media only screen and (orientation: portrait) {
	#synth {
		transform: rotate(-90deg);
	}
}

/* 
	LARGE SCREEN
*/

@media only screen and (width <= 710px) and (1140px <= height) {
	#key-labels {
		display: none;
	}
	#synth,
	#controls,
	#synth-labels{
		min-height: 0px;
		height: calc(100vw - 40px);
		width: calc(100vw * 1.61 - 40px);
	}
}

/* 
	MEDIUM SCREENS
*/

@media only screen and (width <= 1140px) and (height <= 1140px), (height <= 710px) {
	#app {
		min-height: 0;
	}
	#key-labels {
		display: none;
	}
	#synth,
	#controls,
	#synth-labels {
		min-height: 0px;
		width: 850px;
		height: 518px;
	}
}

@media only screen and (width <= 558px) and (height <= 1140px) {
	#key-labels {
		display: none;
	}
	#synth,
	#controls,
	#synth-labels {
		min-height: 0px;
		height: calc(100vw - 40px);
		width: calc(100vw * 1.61 - 40px);
	}
}

/* 
	SMALL SCREENS
*/

@media only screen and (orientation: landscape) and (width <= 890px) and (height <= 840px), (orientation: landscape) and (height <= 558px) {
	#app {
		min-height: 416px;
		min-width: 670px;
	}
	#key-labels {
		display: none;
	}
	#synth,
	#controls,
	#synth-labels {
		min-height: 0px;
		width: 650px;
		height: 396px;
	}
	#bpm-slider {
		top: 23%;
	}
	#attack-slider,
	#decay-slider,
	#sustain-slider, 
	#release-slider,
	#filter-slider,
	#reverb-slider,
	#delay-slider,
	#amp-slider {
		top: 51.5%;
	}
}

@media only screen and (orientation: portrait) and (width <= 890px) and (height <= 840px), (orientation: portrait) and (height <= 558px) {
	#app {
		min-height: 670px;
		min-width: 416px;
	}
	#key-labels {
		display: none;
	}
	#synth,
	#controls,
	#synth-labels {
		min-height: 0px;
		width: 650px;
		height: 396px;
	}
	#bpm-slider {
		top: 23%;
	}
	#attack-slider,
	#decay-slider,
	#sustain-slider, 
	#release-slider,
	#filter-slider,
	#reverb-slider,
	#delay-slider,
	#amp-slider {
		top: 51.5%;
	}
}

@media only screen and (max-width: 416px) and (max-height: 890px) {
	#app {
		min-height: 670px;
		min-width: 300px;
	}
	#key-labels {
		display: none;
	}
	#synth {
		padding-bottom: 3%;
		padding-top: 4%;
	}
	#synth,
	#controls,
	#synth-labels {
		min-height: 0px;
		height: calc(100vw - 40px);
		width: calc(100vw * 1.61 - 40px);
	}
	#seq,
	#bpm {
		top: 5%;
	}
	#adsr {
		left: 28.5%;
	}
	#osc,
	#adsr,
	#filter,
	#reverb,
	#delay,
	#amp {
		top: 32%;
	}
	#bpm-slider {
		top: 20%;
		right: 2%;
	}
	#attack-slider,
	#decay-slider,
	#sustain-slider, 
	#release-slider,
	#filter-slider,
	#reverb-slider,
	#delay-slider,
	#amp-slider {
		top: 52.8%;
	}
	#filter-slider {
		right: 45%;
	}
	#delay-slider {
		right: 15%;
	}
	#amp-slider {
		right: 2%;
	}
}