* {
 	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	overflow: hidden;
	background-color: #ece6df;
	font-family: filson-soft, sans-serif;
	font-size: 16px;
}

header {
	position: absolute;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	padding: 15px 15px;
	gap: 25px;
}

h1, h2 {
	font-size: 1em;
}

#logo{ 
	width: 50px;
}

#loader {
	position: absolute;
	z-index: 3;
	width: 100vw;
	height: 100vh;
	background-color: #ece6df;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

#loader-logo{
	animation-name: loader;
	animation-duration: 2s;
	animation-delay: 1s;
	animation-timing-function: ease-in-out;
}

@keyframes loader {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
  }

#app{
	display: flex;
	height: 100vh;
	min-height: 683px;
	width: 100vw;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	padding: 20px;
}

#synth{
	display: flex;
	background:white;
	width: 1093px;
	height: 663px;
	border: solid grey 0.01px;
	border-radius:25px;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: space-between;
}

canvas {
	position: relative;
	z-index: 2;
	cursor: pointer;
	border-radius:5px;
	border: solid grey 0.01px;
}

#sequencer-canvas{
	margin-top: 73px;
}

#synth-canvas{
	margin-bottom: 42px;
}

#controls {
	position: absolute;
	z-index: 1;
	width: 1093px;
	height: 663px;
}

/* 
	BUTTONS
*/

#play {
	position: relative;
	top: 20.2%;
	left: -2.2%;
}

#sine {
	position: relative;
	top: 44.2%;
	left: -61.1%;
}

#triangle {
	position: relative;
	top: 50%;
	left: -66.6%;
}

#saw {
	position: relative;
	top: 44.2%;
	left: -65.3%;
}

#square {
	position: relative;
	top: 50%;
	left: -70.8%;
}

button {
	background-color: rgb(245, 223, 109);
	font-weight: 700;
	font-size: 1em;
	height: 35px;
	width: 60px;
	border: solid grey 0.01px;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color .2s;
}

button:hover {
	background-color: rgb(246, 200, 105);
}

/* 
	SLIDERS
*/

#bpm-slider {
	position: relative;
	top: 22%;
	left: 89.9%;
}

#attack-slider {
	position: relative;
	top: 46.7%;
	left: 10.5%;
}

#decay-slider {
	position: relative;
	top: 46.7%;
	left: 7.6%;
}

#sustain-slider {
	position: relative;
	top: 46.7%;
	left: 4.6%;
}

#release-slider {
	position: relative;
	top: 46.7%;
	left: 1.6%;
}

#filter-slider {
	position: relative;
	transform: rotate(0deg);
	top: 46.7%;
	left: 8.5%;
}

#reverb-slider {
	position: relative;
	transform: rotate(0deg);
	top: 46.7%;
	left: 17.5%;
}

#delay-slider {
	position: relative;
	transform: rotate(0deg);
	top: 46.7%;
	left: 25.3%;
}

#amp-slider {
	position: relative;
	top: 46.7%;
	left: 31%;
}

.slider {
	-webkit-appearance: none;
	appearance: none;
	transform: rotate(-90deg);
	height: 0.5%;
	width: 6.7%;
	background: #ece6df; 
	border-style:solid;
	border-width: 1px;
	border-color: grey;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}
  
.slider:hover {
	opacity: 1;
}

/* https://www.w3schools.com/howto/howto_js_rangeslider.asp */
  
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 18px; 
	height: 20px; 
	background: #f5df6d; 
	border: solid grey 1px;
	border-radius: 5px;
	cursor: pointer;
}
  
.slider::-moz-range-thumb {
	width: 25px;
	height: 20px;
	background: #f5df6d;
	border: solid grey 1px;
	cursor: pointer;
}

/* 
	SYNTH LABELS
*/

#synth-labels {
	position: absolute;
	z-index:2;
	width: 1093px;
	height: 663px;
	font-size: 1em;
	pointer-events: none;
}

#synth-labels-top {
	position: relative;
	top: 13.3%;
}

#seq{
	display: inline-block;
	position: relative;
    left: 5.6%;
}

#bpm{
	display: inline-block;
	position: relative;
    left: 88.3%;
}

#synth-labels-bottom {
	position: relative;
	top: 35%;
}

#osc{
	display: inline-block;
	position: relative;
    left: 5.6%;
}

#adsr {
	display: inline-block;
	position: relative;
    left: 22.3%;
}

#filter {
	display: inline-block;
	position: relative;
    left: 40.4%;
}

#reverb {
	display: inline-block;
	position: relative;
    left: 50.3%;	
}

#delay{
	display: inline-block;
	position: relative;
    left: 59.1%;	
}

#amp{
	display: inline-block;
	position: relative;
    left: 67.3%;
}

/* 
	KEY LABELS
*/

#key-labels{
	position: absolute;
	display:block;
	z-index:2;
	width: 1093px;
	height: 663px;
	/* font-size: 1em; */
	pointer-events: none;
}

#white-keys{
	display: inline-block;
	position: relative;
	top: 79.5%;
	left: 8.5%;
	letter-spacing: 5.56em;
}

#black-keys{
	display: inline-block;
	position: relative;
	top: 65.5%;
	left: 12.8%;
	letter-spacing:5.5em;
}

#black-keys-middle {
	margin-left: 0.5em;
}

#black-keys-end {
	margin-left: 0.5em;
}